<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Slinger</title>
  <!-- Required meta tags always come first -->
  <meta name="description" content="A home for all your vertical videos.">
  <meta name="author" content="The Slinger team">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <link href="http://vjs.zencdn.net/5.4.6/video-js.css" rel="stylesheet">

  <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>

  <!-- If you'd like to support IE8 -->
  <script src="http://vjs.zencdn.net/ie8/1.1.1/videojs-ie8.min.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>
<div class="container">
      <div class="header clearfix">
        <h3 class="text-muted">Slinger</h3>
      </div>

      <div class="row row-limit">
        <div class="col-lg-4 col-sm-offset-4">

          <!--  
            Once thumbnails are avaialble we can set the poster to the desired thumbnail instead.
            poster="MY_VIDEO_POSTER.jpg" 
          -->
          <video id="slinger-video" class="video-js vjs-default-skin vjs-big-play-centered" controls preload="auto"  width="404" height="720" fullscreentoggle="off" data-setup='{ }'>
            <source id="hls" src="{{hls_url}}" type='application/x-mpegURL'>
            <source id="mp4" src="{{mp4_url}}" type='video/mp4'>
            <p class="vjs-no-js">
              To view this video please enable JavaScript, and consider upgrading to a web browser that
              <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
            </p>
          </video>

        </div>

      <!-- Only show Disqus if we enable it -->
      {% if show_disqus %}
      <div class="row">
        <div class="col-lg-12">
          <div id="disqus_thread"></div>
          <script>
          VIDEO_ID = location.pathname.split('/').pop();
          /**
          * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
          * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
          */
          
          var disqus_config = function () {
          this.page.url = window.location.href; //remove transport (http/https)
          this.page.identifier = VIDEO_ID; //set video ID as the identifier
          };
          
          (function() { // DON'T EDIT BELOW THIS LINE
          var d = document, s = d.createElement('script');

          s.src = '//slinger.disqus.com/embed.js';

          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
          })();
          </script>
          <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        </div>
      </div>
      {% endif %}

      </div>
    
    <footer class="footer container text-xs-center">
        <span class="text-muted">© Slinger 2016</span>
    </footer>

</div>

  <script src="http://vjs.zencdn.net/5.4.6/video.js"></script>
  <script src="{{ url_for('static', filename='js/videojs-media-sources.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/videojs.hls.min.js') }}"></script>

</body>
</html>